version: '3.8'

services:
  db:
    image: mysql
    ports:
      - "3293:3306"
    environment:
      MYSQL_ROOT_PASSWORD: password
  phpmyadmin:
    image: phpmyadmin
    ports:
      - "3294:80"
    environment:
      PMA_HOST: db
      MYSQL_ROOT_PASSWORD: password
  backend:
    image: ${DOCKER_HUB_USERNAME}/project-02-anti-fakenews-cn-unique:latest
    ports:
      - "3292:8080"
    environment:
      JAVA_PROFILE: prod,db
    depends_on:
      - db
    restart: on-failure

volumes:
  db_data: # Define the named volume for database persistence
